<h3>KELE</h3>
<% if current_user && $RESPONSE["auth_token"].present? %>
USER INFO FROM BLOC:

  <p>Name: <%= $RESPONSE["user"]["first_name"] %> <%= $RESPONSE["user"]["last_name"] %></p>
  <p>Email: <%= $RESPONSE["user"]["email"] %></p>
  <p>GitHub: <%= $RESPONSE["user"]["github_handle"] %></p>
<% elsif current_user %>
  <p>No Bloc info available.</p>
<% end %>
